@model MovieWeb.Models.DatNuoc

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}

<h2>Xoá</h2>

<h3>Bạn có thật sự muốn xóa Đất nước này?</h3>

<div>
    <h4>Đất nước </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenNuoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenNuoc)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-dark" })
        </div>
    }
</div>
