
@{
    ViewBag.Title = "Chọn phương thức thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChonPhuongThucThanhToan</title>
</head>
<body>
    <div class="landing-hero" id="payment-top">
        <!-- <img src="images/logo1.png" alt="Logo"> -->
        <!-- <a href="" class="redbtn" id="discover-now">Chọn ngay</a> -->
        <div class="row landing-hero-text" style="border: black">
            <h2>CHỌN CỔNG THANH TOÁN</h2>
            <h2 class="text-yellow">MOMO  &middot;  VNPAY</h2>
        </div>
    </div>
    <div>

    </div>
    <div class="landing-version page-single">
        <div class="container">
            <div class="col-md-6 card">
                <img class="card-img-top rounded" src="https://play-lh.googleusercontent.com/dQbjuW6Jrwzavx7UCwvGzA_sleZe3-Km1KISpMLGVf1Be5N6hN6-tdKxE5RDQvOiGRg" style="width: auto; height: 150px; border-radius: 10px" alt="momo-logo">
                <div class="card-body">

                    @Html.ActionLink("MOMO", "ThongTinThanhToan_MOMO","Payment", htmlAttributes: new { @class = "redbtn", style = "background-color: #a50164" })
                </div>
            </div>
            <div class="col-md-6">
                <img src="https://inkythuatso.com/uploads/images/2021/12/vnpay-logo-inkythuatso-01-13-16-26-42.jpg" style="width: auto; height: 150px; border-radius: 10px" alt="vnpay-logo">
                <br />
                @*<h2>CỔNG THANH TOÁN VNPAY</h2>*@
                @Html.ActionLink("VNPAY", "ThongTinThanhToan", "Payment", htmlAttributes: new { @class = "redbtn", style = "background-color: #0359a7" })
            </div>
        </div>
    </div>
</body>
</html>
