
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.Result</h1>
    </div>
    @Html.ActionLink("Quay lại trang chủ","Home","Movie")
</body>
</html>
