@using (Html.BeginForm("ChangePassword", "User"))
{
    <h4>02. Change password</h4>
    <div class="row">
        <div class="col-md-6 form-it">
            <label>Old Password</label>
            <input type="password" placeholder="***************" name="old_pass">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-it">
            <label>New Password</label>
            <input type="password" placeholder="***************" name="new_pass">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-it">
            <label>Confirm New Password</label>
            <input type="password" placeholder="*************** " name="confirm_pass">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <input class="submit" type="submit" value="change">
        </div>
    </div>
}