@model MovieWeb.Models.DienVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administrator/Views/Shared/_AdminLayout.cshtml";
}



<div class="container">
    <div class="card">
            <h3 class="card-header">Mã diễn viên @Model.MaDienVien</h3>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img src="~/Content/sample/@Model.HinhAnhDienVien" class="img-responsive" width="200" height="260"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">Tên diễn viên: </h4>
                    <p>@Model.TenDienVien</p>

                </div>
            </div>
        </div>
    </div>
    <p>
        @Ajax.ActionLink("Sửa", "Edit", new { id = Model.MaDienVien }, null, new { @class = "btn btn-danger" })
        @Html.ActionLink("Trở về", "Index", null, new { @class = "btn btn-dark" })
    </p>
</div>
