@{
    ViewBag.Title = "Contact";
}

<div class="landing-hero">

    <div class="row landing-hero-text">
        <h2 style="font-weight: 300">Website Twoone</h2>
        <h2 class="text-yellow" style="font-weight: 300;">ĐỒ ÁN MÔN HỌC  &middot;  LẬP TRÌNH WEB</h2>
        <br />
        <h2 style="font-weight: 300">Đội ngũ phát triển</h2>
    </div>
    <div class="container">
        <div class="col-md-4">
            <img src="~/Content/nhon.jpg" alt="trường nhơn" style="width: 252px; height: 341px; border-radius: 40px;  ">
            <br />
            <br />
            <h4 style="color:white">VÕ THƯƠNG TRƯỜNG NHƠN</h4>
           
            <br />

            <a href="https://www.facebook.com/truongnhonhutech/" target="blank_" class="redbtn">XEM BIO</a>
        </div>
        <div class="col-md-4">
            <img src="~/Content/tai.jpg" alt="đức tài" style="width: 252px; height: 341px; border-radius: 40px;  ">
            <br />
            <br />
            <h4 style="color:white">PHẠM DỨC TÀI</h4>
            <br />

            <a href="https://www.facebook.com/tai.phamduc.296" target="blank_" class="redbtn">XEM BIO</a>
        </div>
        <div class="col-md-4">
            <img src="~/Content/thai.jpg" alt="hồng thái" style="width: 252px; height: 341px; border-radius: 40px;  ">
            <br />
            <br />
            <h4 style="color:white">NGUYỄN HỒNG THÁI</h4>
            <br />

            <a href="https://www.facebook.com/thai.nguyenhong.587606" target="blank_" class="redbtn">XEM BIO</a>
        </div>
    </div>
</div>
