@model IEnumerable<MovieWeb.Models.TheLoai>

@foreach (var item in Model)
{
    <li class="dropdown"> <a href="@Url.Action("SearchByFilter","Movie", new {MaTheLoai = item.MaTheLoai})">@item.TenTheLoai</a> 
    </li>
    
}
