@model IEnumerable<MovieWeb.Models.NgonNgu>

@foreach (var item in Model)
{
    <li class="dropdown">
        <a href="@Url.Action("SearchByFilter","Movie", new {MaNgonNgu = item.MaNgonNgu})">@item.TenNgonNgu</a>
    </li>
}